h3{
font-size: 25px!important;
}
button{
border: 3px;
border-color:orange;
}
.btn-success:hover
{
    background-color:orangered ;
    border-color: yellow;
}
canvas{
    animation-name: aayu;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes aayu {
    from{box-shadow:-20px 20px 50px orangered;}
    to{box-shadow:-20px 20px 50px orange;}
    
}